<app-loader *ngIf="loading"></app-loader>

<div class="container">
  <div class="row">
    <app-search-bar name="query" (queryChange)="search($event)"></app-search-bar>

    <div class="col-md-3" *ngFor="let character of characters">
      <div class="character-box">
        <div class="character-box-status character-box-status--{{character.status.toLowerCase()}}">{{character.status}}</div>
        <div class="character-box-image">
          <img [src]="character.image" alt="{{character.name}}" />
        </div>
        <div class="character-box-info">
          <h5>{{character.name}}</h5>
          <div><b>Species:</b> {{character.species}}</div>
          <div><b>Gender:</b> {{character.gender}}</div>
        </div>
      </div>
    </div>
  </div>
</div>